Project3Task1Client/src/META-INF/wsdl/localhost_8080/Project3Task1Server/Project3Task1Service.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://shuningc.andrew.cmu.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://shuningc.andrew.cmu.edu/" name="Project3Task1Service">
<types>
<xsd:schema>
<xsd:import namespace="http://shuningc.andrew.cmu.edu/" schemaLocation="http://localhost:8080/Project3Task1Server/Project3Task1Service?xsd=1"/>
</xsd:schema>
</types>
<message name="verify">
<part name="parameters" element="tns:verify"/>
</message>
<message name="verifyResponse">
<part name="parameters" element="tns:verifyResponse"/>
</message>
<message name="NoSuchAlgorithmException">
<part name="fault" element="tns:NoSuchAlgorithmException"/>
</message>
<message name="addBlock">
<part name="parameters" element="tns:addBlock"/>
</message>
<message name="addBlockResponse">
<part name="parameters" element="tns:addBlockResponse"/>
</message>
<message name="view">
<part name="parameters" element="tns:view"/>
</message>
<message name="viewResponse">
<part name="parameters" element="tns:viewResponse"/>
</message>
<portType name="Project3Task1Service">
<operation name="verify">
<input wsam:Action="http://shuningc.andrew.cmu.edu/Project3Task1Service/verifyRequest" message="tns:verify"/>
<output wsam:Action="http://shuningc.andrew.cmu.edu/Project3Task1Service/verifyResponse" message="tns:verifyResponse"/>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://shuningc.andrew.cmu.edu/Project3Task1Service/verify/Fault/NoSuchAlgorithmException"/>
</operation>
<operation name="addBlock">
<input wsam:Action="http://shuningc.andrew.cmu.edu/Project3Task1Service/addBlockRequest" message="tns:addBlock"/>
<output wsam:Action="http://shuningc.andrew.cmu.edu/Project3Task1Service/addBlockResponse" message="tns:addBlockResponse"/>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://shuningc.andrew.cmu.edu/Project3Task1Service/addBlock/Fault/NoSuchAlgorithmException"/>
</operation>
<operation name="view">
<input wsam:Action="http://shuningc.andrew.cmu.edu/Project3Task1Service/viewRequest" message="tns:view"/>
<output wsam:Action="http://shuningc.andrew.cmu.edu/Project3Task1Service/viewResponse" message="tns:viewResponse"/>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://shuningc.andrew.cmu.edu/Project3Task1Service/view/Fault/NoSuchAlgorithmException"/>
</operation>
</portType>
<binding name="Project3Task1ServicePortBinding" type="tns:Project3Task1Service">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="verify">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"/>
</fault>
</operation>
<operation name="addBlock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"/>
</fault>
</operation>
<operation name="view">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"/>
</fault>
</operation>
</binding>
<service name="Project3Task1Service">
<port name="Project3Task1ServicePort" binding="tns:Project3Task1ServicePortBinding">
<soap:address location="http://localhost:8080/Project3Task1Server/Project3Task1Service"/>
</port>
</service>
</definitions>